#audioplayer{
    width: 480px;
    height: 60px;
    margin: 50px auto auto auto;
    border: 1px dotted black;
}

.playerBtn {
    height:60px;
    width: 60px;
    float:left;
    outline:none;
    background: transparent;
    border: none !important;
    font-size: 2em;
}

#timeline{
    width: 400px;
    height: 3px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
    background: rgba(255,0,0,.8);

}
#playhead{
    width: 4px;
    height: 12px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 0, 0,1);

}